/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 mai 2025, 09:58:00
    Author     : USER
*/

.backleft{
    -fx-background-color: linear-gradient( to bottom  ,#ccc, #0000ff);
}
.ringform{
    -fx-background-color : #ecf0f1;
}
.LoginId{ 
    -fx-background-color: linear-gradient( to bottom right  ,#ccc, #0000ff);
}
